<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        [v-cloak] {display:none;};
    </style>
    <link rel="stylesheet" href="/css/location.css">
</head>
<body>

<div id="app" v-cloak style="width:70%;margin:0 auto;">
    <div class="container">
        <h2>날씨 정보</h2>
        <label>
            <select v-model="search.selectedParent" @change="getChildList()" style="width:200px;height:50px">
                <option value="선택">선택</option>
                <option v-for="(parent, index) in regionParent" :key="index" :value="parent">{{parent}}</option>
            </select>
            <select v-model="search.selectedChild" :disabled="search.selectedParent=='선택'" style="width:200px;height:50px">
                <option value="선택">선택</option>
                <option v-for="(child, index) in regionChild" :key="index" :value="child">{{child}}</option>
            </select>
            <button type="button" @click="weatherAPISubmit()" style="width:100px;height:50px;">확인</button>
        </label>
    </div><br><br>
    <div style="font-size: 1em; font-weight: bold;">{{ weatherTime }}</div><br>
    <div style="font-size: 1em; font-weight: bold;">{{ weatherInfo }}</div>
</div>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script>
    new Vue({
      el : "#app",
      data : {
        x : "",
        y : "",
        weatherInfo : "",
        weatherTime : "",
        search : {
            selectedParent : "선택",
            selectedChild : "선택"
        },
        regionParent : {},
        regionChild : {}
      },
      methods : {
        loadData : function () {
            let vm = this;
            axios.get('/location/getRegionParentList')
            .then(res => {
                console.log(res.data);
                vm.regionParent = res.data;
            })
            .catch(error => {
                console.error(error);
            })
        },
        getChildList : function () {
            let vm = this;
            vm.search.selectedChild = "선택";
            axios.get('/location/getRegionChildList', {
                params : {
                    regionParent : vm.search.selectedParent
                }
            })
            .then(res => {
                console.log(res.data);
                vm.regionChild = res.data;
            })
            .catch(error => {
                console.error(error);
            })
        },
        weatherAPISubmit : function () {
            let vm = this;

            if(vm.search.selectedParent == "선택" && vm.search.selectedChild == "선택") {
                alert("지역을 선택하세요.");
                return false;
            } else if(vm.search.selectedParent != "선택" && vm.search.selectedChild == "선택"){
                vm.search.selectedChild == "";
            }


            axios.get('/location/getWeatherInfo', {
                params : {
                    regionParent : vm.search.selectedParent,
                    regionChild : vm.search.selectedChild
                }
            })
            .then(res => {
                console.log(res.data);
                vm.weatherTime = res.data[0];
                vm.weatherInfo = res.data[1];
            })
            .catch(error => {
                console.error(error);
            })
        },
      },
     filters: {},
     computed: {},
     watch: {},
     created() {},
     mounted() {
        this.loadData();
     }
   })
</script>
</body>
</html>