<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button id="find-me">내 위치 보기</button><br />
<p id="status"></p>
<a id="map-link" target="_blank"></a>

<div id="app">
    <button type="button" @click="weatherAPISubmit()">API호출</button><br>
    <table border="1" v-if="isLocation">
        <tr>
            <td>주소</td>
            <td>발표일자</td>
            <td>발표시각</td>
            <td>자료구분코드</td>
            <td>예보지점 X좌표</td>
            <td>예보지점 Y좌표</td>
            <td>실황값</td>
        </tr>
        <tr v-for="(item, index) in locationData">
            <td>{{item.address}}</td>
            <td>{{item.baseDate}}</td>
            <td>{{item.baseTime}}</td>
            <td>{{item.category}}</td>
            <td>{{item.nx}}</td>
            <td>{{item.ny}}</td>
            <td>{{item.obsrValue}}</td>
        </tr>
    </table>
</div>
<script>
    function geoFindMe() {
      const status = document.querySelector("#status");
      const mapLink = document.querySelector("#map-link");

      mapLink.href = "";
      mapLink.textContent = "";

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        status.textContent = "";
        mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
        mapLink.textContent = `위도: ${latitude} °, 경도: ${longitude} °`;

        window.latitude = latitude;
        window.longitude = longitude;
        window.__isSubmit();
      }

      function error() {
        status.textContent = "현재 위치를 가져올 수 없음";
      }

      if (!navigator.geolocation) {
        status.textContent = "브라우저가 위치 정보를 지원하지 않음";
      } else {
        status.textContent = "위치 파악 중…";
        navigator.geolocation.getCurrentPosition(success, error);
      }
    }

    document.querySelector("#find-me").addEventListener("click", geoFindMe);

</script>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script>
    new Vue({
      el : "#app",
      data : {
        x : "",
        y : "",
        locationData : {},
        isLocation : false,
        isSubmitValue : false
      },
      methods : {
        weatherAPISubmit : function () {
            let vm = this;

            if(!vm.isSubmitValue) {
                alert("위치정보를 먼저 확인해주세요.");
                return false;
            }

            vm.x = window.latitude;
            vm.y = window.longitude;

            axios.get('/location/getList', {
                params : {
                    latitude : vm.x,
                    longitude : vm.y
                }
            })
            .then(res => {
                console.log(res.data);
                vm.locationData = res.data;
                vm.isLocation = true;
            })
            .catch(error => {
                console.error(error);
            })
        },
        isSubmit : function () {
            this.isSubmitValue = true;
        }
      },
     filters: {},
     computed: {},
     watch: {},
     created() {},
     mounted() {
        window.__isSubmit = this.isSubmit;
     }
   })
</script>
</body>
</html>